[Unit]
Description=OpenResty
After=network.target

[Service]
Type=simple
PIDFile=/run/openresty.pid
ExecStart=/usr/bin/nginx -c /etc/nginx/conf.d/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
