[Unit]
Description=OpenResty
After=network.target

[Service]
Type=simple
PIDFile=/run/openresty.pid
ExecStart=/usr/bin/nginx -c /usr/local/openresty/nginx/conf/nginx.conf
ExecReload=/bin/kill -s SIGHUP $MAINPID
ExecStop=/bin/kill -s SIGQUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
